{{ define "main" }}
<h2>{{ .Title }}</h2>
{{ .Content }}

<h3>Current Members</h3>

<div class="floatRight image-container">
  <a href="/img/photos/2011-11-27 Running Order (YV).jpg">
    <img src="/img/photos/2011-11-27 Running Order (YV).jpg" alt="" />
  </a>
</div>

{{ partial "musicians.html" $.Site.Data.musicians.current }}

<div class="floatLeft image-container image-container-narrow">
  <a href="/img/John Hegley Flyer.jpg">
    <img src="/img/John Hegley Flyer.jpg" alt="" />
  </a>
</div>

<h3>Previous Gigs</h3>
{{ partial "prevgigs.html" $.Site.Data.gigs }}

<div class="clearer"></div>
{{ end }}
