/* General settings */
body {
    background: #fafafa;
    color: lightgray;
    font-family: georgia,garamond,serif;
    padding: 0;
    margin: 0;
}

h1.logo {
    text-align: center;
}

h1.logo img {
    width: 50%;
    max-width: 1407px;
}

@media screen and (max-width: 600px) {
    h1.logo img {
        width: 80%;
    }
}

h1.logo a {
    border-bottom: 0;
}

h2, h3 {
    color: white;
}
h2 {
    margin: 2em 0 1em;
}
h3 {
    margin: 4em 0 2em;
}

a:hover {
    color: lightgray;
    border-bottom: 2px dotted maroon;
}
a {
    text-decoration: none;
    border-bottom: 1px dashed goldenRod;
    color: lightgray;
}
img { border: none; }

/* Specific areas */

#wrapper {
    margin: 0 8px 21px;
    border: 1px solid #2C2C2C;
    background: #171717;
    box-shadow: 0 0 30px #999;
}
#navbar {
    background: rgb(44,44,44);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjMmMyYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NDQ0NDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(44,44,44,1) 0%, rgba(68,68,68,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,44,44,1)), color-stop(100%,rgba(68,68,68,1)));
    background: -webkit-linear-gradient(top,  rgba(44,44,44,1) 0%,rgba(68,68,68,1) 100%);
    background: -o-linear-gradient(top,  rgba(44,44,44,1) 0%,rgba(68,68,68,1) 100%);
    background: -ms-linear-gradient(top,  rgba(44,44,44,1) 0%,rgba(68,68,68,1) 100%);
    background: linear-gradient(top,  rgba(44,44,44,1) 0%,rgba(68,68,68,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2c2c', endColorstr='#444444',GradientType=0 );
}
ul#nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}
#nav li {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    text-align: center;
}
#currentpage a {
    color: white;
    font-weight: bold;
}
#nav a {
    display: block;
    border: 0;
    line-height: 2em;
    padding: 0 8px;
}
#nav a:hover {
    border: 0;
    background: rgb(68,68,68);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0NDQ0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3Nzc3NzciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(68,68,68,1) 0%, rgba(119,119,119,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(68,68,68,1)), color-stop(100%,rgba(119,119,119,1)));
    background: -webkit-linear-gradient(top, rgba(68,68,68,1) 0%,rgba(119,119,119,1) 100%);
    background: -o-linear-gradient(top, rgba(68,68,68,1) 0%,rgba(119,119,119,1) 100%);
    background: -ms-linear-gradient(top, rgba(68,68,68,1) 0%,rgba(119,119,119,1) 100%);
    background: linear-gradient(top, rgba(68,68,68,1) 0%,rgba(119,119,119,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#777777',GradientType=0 );
}
#big_r {
    font-size: 3em;
    font-style: normal;
    font-weight: normal;
}
#strapline {
    padding: 0 2em;
    font-style: italic;
    margin: 2em 0;
}

.image-container.the-band {
  margin: 0 auto;
}

#maincontent {
    padding: 0 32px 16px;
}

@media screen and (max-width: 600px) {
    #strapline {
        padding: 0 1em;
    }

    #maincontent {
        padding: 0 16px 16px;
    }
}

#footer {
    margin: 32px auto 0;
    text-align: center;
    width: 100px;
}
table.musicians {
    width: 40%;
}
.musicians + .musicians {
    margin-top: 1em;
}
.musicians .name {
    width: 50%;
}
a.icon {
    border-bottom: none;
}
#email {
    text-align: center;
}

@media all and (min-width: 1280px) {
    #wrapper {
	width: 1248px;
	margin: 0 auto 21px;
    }
}
.thumbnail {
    border: 1px solid #2C2C2C;
    border-radius: 30px;
    float: left;
    height: 220px;
    margin: 8px;
    padding: 8px;
    width: 200px;
    position: relative;
    text-align: center;
    color: #444;
}
.thumbnail > h4 {
    height: 80px;
}
.thumbnail > a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
.thumbnail > img {
    width: 120px;
}
.thumbnail:hover {
  border-color: #444;
  color: lightgray;
}

/* Helper classes */

.hidden {
    display: none;
}
.floatRight {
    float: right;
}
.floatLeft {
    float: left;
}
.clearer {
    clear: both;
}
.centerAlign {
    text-align: center;
}
.image-container {
    margin: 32px;
    width: 300px;
    max-width: 80%;
    text-align: center;
}
.image-container-narrow {
    width: 200px;
}
.image-container-wide {
    width: 600px;
}
.image-container:hover img, .thumb-container:hover img {
    border-color: #2c2c2c;
}
.image-container img {
    max-width: 100%;
	border: 0.5em solid #171717;
}
.image-container a, .image-container a:hover, .thumb-container a, .thumb-container a:hover {
    border: 0;
}
.video-container {
    max-width: 80%;
    margin: 0 auto;
}
.video-container-main {
    width: 720px;
    margin: 40px auto 80px;
}
.video-container iframe {
    border: none;
}
.clicky {
    cursor: pointer;
}

.thumb-container {
	height: 256px;
	margin: 32px;
	text-align: center;
}
.thumb-container img {
	max-height: 100%;
	border: 0.5em solid #171717;
}

.gig + .gig {
    margin-top: 1em;
}
.gig img {
    display: block;
    max-height: 10em;
    margin: 1em auto;
}
.gig-date {
    font-weight: bold;
}

.youtube-channel {
    font-size: larger;
    font-weight: bold;
}
